.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    background: #121213;
    width: 400px;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: SlideIn 300ms;
    .header {
      font-size: 27px;
    }

    .stats-container {
      display: flex;
      width: 60%;
      justify-content: space-between;
      .stat-container {
        flex: 1;
        .stat {
          font-size: 36px;
          font-weight: 500;
        }
        .label {
          font-size: 15px;
        }
      }
    }

    .x-icon {
      position: absolute;
      cursor: pointer;
      right: 5px;
      top: 5px;
    }
    .retry-button {
      background-color: #538d4e;
    }

    .guess-distribution {
      width: 90%;

      .graph-container {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 2px;
        .guess {
        }
        .graph {
          display: flex;
          justify-content: flex-end;
          background-color: var(--color);
          font-weight: 600;
          width: var(--width);
        }
      }
    }
  }
}
@keyframes SlideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes SlideOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(60px);
  }
}
