.tile {
  width: 80px;
  height: 80px;
  border: 2px solid #3a3a3c;
  font-size: 54px;
  text-align: center;
  background-color: var(--color);
  animation: flip 700ms;
}
/* @keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background: green;
  }
} */
