.header-container {
  display: flex;
  border-bottom: 1px solid grey;
  width: 300px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  .header {
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0px;
    top: -3px;
    z-index: -1;
  }
  .stat-icon {
    cursor: pointer;
    color: grey;
  }
}
