.keyboard {
  height: 210px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  .key-row {
    display: flex;
    flex: 1;
    .key {
      background-color: var(--color);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
      flex: 1;
      font-size: 20px;
      margin-right: 6px;
    }
    .last {
      margin-right: 0px;
    }
    .empty-space {
      flex: 0.5;
    }
    .big {
      flex: 1.5;
    }
  }
}
